<div class="container mt-4">
  <div class="text-center">
    <h2>Service Desk</h2>
  </div>
  <div class="d-flex justify-content-between mt-3">
    <h3>Lista de solicitações</h3>
    <a class="btn btn-primary">Nova solicitação</a>
  </div>
  <div>
    <table class="table table-striped align-middle">
      <thead align="center">
        <tr>
          <th>Título</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody align="center">
        <td>Exemplo</td>
        <td>Exemplo</td>
        <td>
          <button type="button" class="btn btn-outline-danger">Finalizar solicitação</button>
        </td>
      </tbody>
    </table>
  </div>
</div>