<div class="container text-center p-3" style="max-width: 37%;">
  <div class="row justify-content-center w-100">
    <form>
      <div class="pt-2 pb-3">
        <h2>Formulário de Cadastro</h2>
      </div>
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4 mt-2">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="formFirstName" class="form-control" placeholder="Primeiro Nome"/>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="formSecondName" class="form-control" placeholder="Segundo Nome"/>
          </div>
        </div>
      </div>

      <div class="form-outline mb-4">
        <div class="d-flex">
          <label for="birthDate" class="form-label">Data de Nascimento</label>
        </div>
        <input type="date" class="form-control">
      </div>
    
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="formEmail" class="form-control" placeholder="Endereço de email"/>
      </div>
    
      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="formPassword" class="form-control" placeholder="Senha"/>
      </div>

      <!-- Image input -->
      <div class="container">
        <div class="form-outline mb-4">
          <input type="file" name="files"/>
        </div>
      </div>
      
      <!-- Submit button -->
      <button [routerLink]="['/sign-in']" type="submit" class="btn btn-primary btn-block mb-4" style="min-width: 50%;">Cadastrar</button>
    </form>
  </div>
</div>
